<footer>

  <div class="contact">
    <div class="wrapper">
      <address>
        <h3>Conceito Vida</h3>
        {{ site.contact.address1 }} - {{ site.contact.address2 }}<br>
        <a href="tel:{{ site.contact.phone }}">{{ site.contact.phone_for_humans }}</a></br>
        <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>
      </address>
      <nav>
        {% include _social.html %}
      </nav>
    </div>
  </div>

  <div class="wrapper">
    <p class="cremesp">
      Este site está de acordo com as normas do <b>CREMESP – CODAME – Resolução
      CFM 1974/2011</b>, portanto não apresenta fotos de pacientes ou vídeos de
      cirurgias.
    </p>

    <p class="copyright">
      &#169; Copyright {{ site.time | date: '%Y' }} - Conceito Vida - Todos os direitos reservados
    </p>
  </div>

</footer>
