<footer>

  <div class="contact">
    <div class="wrapper">
      <address>
        {% include _address.html %}
      </address>
      <nav>
        {% include _social.html %}
      </nav>
    </div>
  </div>

  <div class="wrapper">
    <p class="cremesp">
      Este site está de acordo com as normas do <b>CREMESP – CODAME – Resolução
      CFM 1974/2011</b>, portanto não apresenta fotos de pacientes ou vídeos de
      cirurgias.
    </p>

    <p class="copyright">
      &#169; Copyright {{ site.time | date: '%Y' }} - Conceito Vida - Todos os direitos reservados
    </p>
  </div>

</footer>
