<header class="wrapper">
  <h1>
    <a href="/home.html">
      <img src="imgs/logo_web.jpg" alt="Clínica Conceito Vida">
    </a>
  </h1>

  <address class="desktop">
    {{ site.contact.address1 }}<br>
    {{ site.contact.address2 }}<br>
    <a href="tel:{{ site.contact.phone }}">{{ site.contact.phone_for_humans }}</a></br>
    <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>
  </address>

  <nav class="social">
    {% include _social.html %}
  </nav>

  <nav class="menu mobile">
    <a href="#menu">{% include svg/menu.svg %}</a>
    {% include _menu.html %}
  </nav>

  <address class="mobile">
    {{ site.contact.address1 }}<br>
    {{ site.contact.address2 }}<br>
    <a href="tel:{{ site.contact.phone }}">{{ site.contact.phone_for_humans }}</a></br>
    <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>
  </address>

  <nav class="menu desktop">
    {% include _menu.html %}
  </nav>

</header>
