main.home,
#banners,
#team,
#credenctials
  +grid-container($mobile)
  +grid-media($desktop)
    +grid-container($desktop)

main.home
  line-height: 1.62rem

  ul
    +grid-column(6, $mobile)
    border-bottom: .15rem solid $highlight_color
    padding: 1rem 0
    text-align: center
    text-transform: uppercase

    +grid-media($desktop)
      +grid-column(4, $desktop)
      +grid-shift(1)
      border-bottom: 0
      border-right: .15rem solid $highlight_color
      margin-bottom: 3rem
      margin-top: 3rem
      padding: 0 .5rem 0 0
      text-align: right

  div
    +grid-column(6, $mobile)
    align-items: center
    display: flex
    height: 100%

    +grid-media($desktop)
      +grid-column(5, $desktop)
      +grid-shift(2)

    p
      padding: 1rem 0
      +grid-media($desktop)
        font-size: 1.2rem
        line-height: 2rem
        padding: 3rem 0

#banners li
  +grid-column(4, $mobile)
  +grid-shift(1, $mobile)

  +grid-media($desktop)
    +grid-column(4, $desktop)
    +grid-shift(0, $desktop)

#team
  border-color: $highlight_color
  border-style: solid
  border-width: .2rem 0
  margin: 1rem 0
  padding: 1rem 0

  +grid-media($desktop)
    margin: 2rem 0
    padding: 2rem 0

  ul
    +grid-media($desktop)
      +grid-column(10, $desktop)
      +grid-shift(1, $desktop)
      display: flex
      justify-content: space-between

  li
    +grid-column(4, $mobile)
    +grid-shift(1, $mobile)
    margin-top: 1rem

    &:first-child
      margin-top: 0

    +grid-media($desktop)
      width: 25%
      margin: 0
      float: none
      position: initial

  .name, .crm
    display: block
    font-size: 1rem
    font-weight: bold

  .crm
    font-size: .7rem

#credentials
  +clearfix
  margin-bottom: 1rem

  +grid-media($desktop)
    margin-bottom: 2rem

  li
    +grid-column(2, $mobile)
    +grid-media($desktop)
      +grid-column(2, $desktop)
      +grid-shift(3, $desktop)

  img
    width: 100%
